SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
LASTFM_API_KEY=your_lastfm_api_key

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=track-events

TIMESCALEDB_URL=postgres://hitlab:hitlab@timescaledb:5432/hitlab
